body { border-top: 5px solid #304269 }
.skills-graph li span,
.dropcap-2,
.dropcap-3,
.flickr-feeds li:hover,
.dribbble-photos li:hover,
.instagram-photos div:hover,
.post-title-text span.highlight,
.post-title-text-2 span.highlight,
.plan-features li:hover,
.plan-features li:nth-child(even):hover,
.post-info div.entry-date,
h3.title a:active,
a.more-link,
.page-pagination span.current,
ul.tags  li a:hover,
.comment .comment-meta .reply:hover { background: #304269 }
.item-description:hover { background: #304269 url("../images/item-bg-arrow.png") bottom center no-repeat }
.service-plan-2 .pricing-header.colored { background: #304269 url("../images/colors/blue-dark/pricing-table-bg.jpg") repeat }
.service-plan .pricing-header.colored { background: #304269 url("../images/colors/blue-dark/pricing-table-bg.jpg") repeat }
#scrolltotop { background: url("../images/colors/blue-dark/top.png") top no-repeat }
#scrolltotop:hover { background: url("../images/colors/blue-dark/top.png") bottom no-repeat }
#top-panel-wrapper { background: rgba(48,66,105,0.90) }
#top-panel-wrapper a.top-panel-switcher { background: #304269 url("../images/top-panel-arrow.png") 90% 50% no-repeat }
#top-panel-wrapper  a.out { background: rgba(48,66,105,0.90) url("../images/top-panel-arrow-pull.png") 90% 50% no-repeat }
.portfolio-text-center h4 a:hover,
.post-meta a:hover { border-bottom: 1pt dashed #304269 }
#inner-intro { background: #304269 url("../images/colors/blue-dark/inner-page-header-bg.jpg") repeat }
#inner-intro #main-navigation  ul ul li a:hover { color: #304269!important;background:none!important; }
#main-navigation ul li a:hover ,
a:hover,
a > *:hover,
.post-links,
.colored-text,
ul#breadcrumbs li a,
#footer h4,
.twitter-feeds a,
ul.blog-post-homepage li a,
ul.blog-post-inner li a,
ul.sidebar-widget li a.active,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
#logo-sub-text,
ul.accordion li.accordion-item.selected .accordion-switch,
.testimonial-info p,
.dropcap-1,
.tabs-nav li.active a,
.service-plan .package-title,
.service-plan-important .pricing span,
.service-plan-2 .package-title,
.service-plan-2 .package-title,
.service-plan-important .pricing span,
.categories a:hover,
.sidebar .widget a.permalink,
.post-meta a:hover { color: #304269 }

#inner-intro > #post-header-panel .colored-text {
    color: #61f2c1;
    text-shadow: 0px 1px #1a6b44;
}
#inner-intro > #post-header-panel h1 { text-shadow: 0px 1px #1a6b44 }

#copyrights-wrapper { border-bottom: 5px solid #304269 }
#filterable span.tooltip { border-left: 4pt solid #304269 }
.tabs-nav li.active a { border-top: 1px solid #304269 }
.button:hover,
.button.grey:hover {
    background: #304269;
    background: -moz-linear-gradient(top, #304269 0%, #20325b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#304269), color-stop(100%,#20325b));
    background: -webkit-linear-gradient(top, #304269 0%,#20325b 100%);
    background: -o-linear-gradient(top, #304269 0%,#20325b 100%);
    background: -ms-linear-gradient(top, #304269 0%,#20325b 100%);
    background: linear-gradient(top, #304269 0%,#20325b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304269', endColorstr='#20325b',GradientType=0 );
    color: #FFF;
    text-shadow: 0px 1px #233459;
    border-top: 1pt solid #5b6f9c;
    border-bottom: 1pt solid #132243;
}
.search-form input[type="submit"]:hover { background-color: #304269 }
#filterable li a.active {
    color: #304269!important;
    border-bottom: 1pt solid #304269;
}
#filterable li a:hover { border-bottom: 1pt solid #304269 }
#filterable li:hover { color: #304269 }
ul.project-pagination li .next:hover { background: rgba(48,66,105,100) url("../images/project-pagination-next.png") right no-repeat }
ul.project-pagination li .prev:hover { background: rgba(48,66,105,100) url("../images/project-pagination-prev.png") left no-repeat }
ul.project-pagination li .all-projects:hover { background: rgba(48,66,105,100) url("../images/all-projects.png") right no-repeat }

.search-form input[type="submit"] { background: url(../images/colors/blue-dark/search-ico.png) no-repeat left top;}
#top-panel-wrapper { background: rgba(48,66,105,0.90);}
#inner-intro > #post-header-panel .colored-text {color: #768ebf;text-shadow: 0px 1px #233459;}
#inner-intro > #post-header-panel h1 {text-shadow: 0px 1px #233459;}
.search-form{ border-bottom: 1px solid #44567b;background: #233459;box-shadow: inset 3px 3px 3px #17274a;}
#inner-intro > #header { border-bottom: 1pt solid #23345a }
#inner-intro > #post-header-panel { border-top: 1pt solid #3e5077 }
#inner-intro #main-navigation  ul li a:hover {  background: #203055!important;border-radius:3px;  }
.flex-direction-nav li a:hover  {  background-color: #304269; border-bottom: none;}